@import 'utilities'; 
@import "../../node_modules/bootstrap/scss/bootstrap";

// wrapper styles
.wrapper{
    width:100% ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    font-family: $Roboto;
    overflow-x: hidden;
    @include MQ(575px){
        background-color: $white;
    }
    #container{
        box-shadow: 0 0 6px #ccc; 
        
        @include MQ(575px){
            box-shadow:none;
        }
        .userIcon{
            transition: 0.20s ease-in-out;
            display: none;
            &:hover{
                transform: scale(0.8);
            }
        }
        .left-column{
            // typerwriter
            .line1{
                border-right: solid 0.5px rgba(0,0,0,0.5);
                white-space: nowrap;
                overflow: hidden;
                width: 32ch;
                animation: typewriter1 3s steps(41) , cursor 500ms steps(41) infinite;
            }
          
        }
        .right-column{
            transition: all 0.25s ease-in-out;
            background: url('../img/Image1.png') ;
            background-size: cover;
            &:hover{
                background: url('../img/Image1.png') ,linear-gradient(-45deg, #ff4081  0%, rgba(255,255,255,0) 90%);
                background-blend-mode: lighten;
                background-size: cover;
                
            }
        }
      
    }
    
}

// input fields styles
.inputFiled{
    caret-color: $primary;
    font-family: $Roboto;
    transition: 0.15s ease;
    &:focus{
        box-shadow:none;
        outline: none;
       border: 2px solid  $primary ;
      
    }
   
}
// labels styles
#lab {
    position: absolute;
    top: 50%;
    transform: translate(1rem,-50%);
    transition: all 0.20s ease;
  }

// input focus move up label 

.inputFiled:focus + #lab {
    font-size: 0.8rem;
    top: 0;
    background-color: $white;
    padding: 0px 2px;
}
// input focus stikcy label
.inputFiled:not(:placeholder-shown).inputFiled:not(:focus) + #lab {
    font-size: 0.8rem;
    top: 0;
    background-color: $white;
    padding: 0px 2px;
  }
// input password eye icon 
.eyeBtn{
    cursor: pointer;
    transition: all 0.20s ease-in-out;
}
//checkbox button class for form validation
.warning {
    animation: warningAnimate 0.5s ease-in-out 2;
    transition: 0.15s ease-in-out;
}
// checkbox button animation keyframes
@keyframes warningAnimate {
    0%{
      transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

/* typewriter animation */
@keyframes typewriter1 {
    0%{width: 0;}
    100%{width: 32ch;}
}

/* cursor animation */
@keyframes cursor {
    0%{border-right-color: rgba(0,0,0,0.5);}
    100%{border-right-color: transparent;}
}

